<!DOCTYPE html>
<html>

<head>
	<title>Board</title>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="public/stylesheets/main.css" />
	<link rel="manifest" href="manifest.webmanifest">
	<link rel="icon" href="assets/icons/paintbrush.jpg">
</head>

<body ng-controller="appCtrl">
	<div class="header">
		<h4 style="background-color:white;font-family: cursive;">Board</h4>
	</div>
	<div id="content">
		<canvas id="board" width="{{boardWidth}}" height="{{boardHeight}}" canvas-bg-white ng-style="{'cursor': 'url(assets/icons/'+curIcon+'.cur),default'}">
		</canvas>
	</div>
	<div class="tools row">
		<!-- <select id="penColor" class="col-md-12 space" ng-model="penColor" ng-options="color for color in colorList" ></select>ng-class="getCanvasIcon()" -->
		<select id="penColor" class="btn btn-default space" ng-model="penColor" ng-class="!showColorDdl?'hide':''" style="background-color:{{penColor}}"
		 title="Pen Color">
			<option ng-repeat="color in colorList" ng-value="{{color}}" style="background-color:white">{{color}}</option>
		</select>
		<button class="btn btn-default space" ng-click="selectPen()" title="Pen">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
		<button class="btn btn-default space" ng-click="eraseContent()" title="Eraser">
			<span class="glyphicon glyphicon-erase"></span>
		</button>

		<select id="brushSize" class="btn btn-default space" ng-model="brushSize" title="Brush Size">
			<option ng-repeat="brushSize in brushSizeList" ng-value="{{brushSize}}" style="background-color:white">{{brushSize}}</option>
		</select>
		<button class="btn btn-default space" ng-click="clrContent()" title="Refresh">
			<span class="glyphicon glyphicon-refresh"></span>
		</button>
		<button class="btn btn-default" ng-click="snapContent()" title="Snap">
			<span class="glyphicon glyphicon-save"></span>
		</button>
	</div>
	<div class="footer">
		<a class="btn btn-link" href="https://sathishgajendran.github.io" target="_blank">about me</a>
	</div>
	<script src="public/javascripts/canvas.js"></script>
	<script src="public/javascripts/main.js"></script>
	<script>
		$(document).ready(function () {
			screen.orientation.lock('landscape');
		});
		window.addEventListener("beforeinstallprompt", ev => {
			ev.preventDefault();
			ev.prompt();
		});
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker
				.register('/sw.js')
				.then(function () { console.log('Service Worker Registered'); });
		}
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-73751132-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-73751132-3');
	</script>
</body>

</html>